<md-dialog style="opacity: 1 !important;" aria-label="Create a new user" layout="column" layout-align="start center" flex="100">
    <form name="createuserForm" ng-submit="createSchool(create.register)">
      <md-dialog-content layout="column" layout-align="start start" layout-wrap layout-fill layout-padding flex>
      <div layout="row" flex>
        <h2 style="font-weight:normal" ng-hide="createdNow">Add school </h2>
        <h2 style="font-weight:normal" ng-if="done">Creating school</h2>
        <h2 style="font-weight:normal" ng-if="createdNows"><md-icon md-svg-icon="../../assets/img/indigo_check24.svg" style="margin: auto 3px auto 0;" ></md-icon> Created new school</h2>
        <span flex></span>
      </div>
      <md-progress-linear md-mode="indeterminate" flex ng-show="done"></md-progress-linear>
  
      <!-- hide here -->
      <span layout="column" ng-hide="createdNow" layout-fill>
      <md-input-container flex="100"  md-no-float class="md-block" style="margin: 10px 0 !important;">
          <input ng-model="create.register.schoolname" aria-label="schoolname" type="text" placeholder="School name" required>
      </md-input-container>
      <md-input-container class="md-block" style="margin: 10px 0 !important;">
       <!-- Use floating placeholder instead of label -->
       <md-select ng-model="create.register.schooltype" placeholder="School Type" class="md-no-underline" required>
            <md-option value="parent">Parent</md-option>
            <md-option value="branch">Branch</md-option>
        </md-select>
      </md-input-container>
      </span>
      <!-- address -->
        <span layout="row" flex ng-hide="createdNow" layout-fill>
        <md-input-container  md-no-float class="md-block" style="margin: 10px 0 !important;">
         <input ng-model="create.register.address" aria-label="firstname" type="text" placeholder="Street name" required>
        </md-input-container>
        <md-input-container md-no-float class="md-block" style="margin: 10px 0 !important;">
         <input ng-model="create.register.city" aria-label="lastname" type="text" placeholder="City" required>
        </md-input-container>
      </span>
      <span layout="column" ng-hide="createdNow" layout-fill>
      <md-input-container flex="100"  md-no-float class="md-block" style="margin: 10px 0 !important;">
        <md-icon md-svg-icon="../../assets/img/black_person24.svg"></md-icon>
        <md-select placeholder="School Admin" aria-label="address" ng-model="create.register.schooladmin" required>
          <md-option ng-value="user" ng-repeat="user in users" >{{user.name}}</md-option>
        </md-select>
      </md-input-container>
      </span>
      <span layout="row" ng-hide="createdNow">
      <p class="md-caption">{{ user ? user.name : 'School Admin' }} will have admin privileges over school settings</p>
      </span>
      <!-- end here -->
      <md-toolbar ng-show="existing" class="md-primary" layout="row" layout-fill layout-padding layout-margin>
      <p class="md-body-1">School already registered</p>
      </md-toolbar>
      <md-toolbar ng-if="loginerror" class="md-accent" layout="row" layout-fill layout-padding layout-margin>
        <p class="md-body-1">{{ loginerror }}</p>
      </md-toolbar>
      <span layout="column" layout-align="start start" flex ng-if="createdNows">
        <span layout="row">
        <p>
          A new school named <b>{{registered.schoolname}} </b> has been created
        </p>
        </span>
        <span layout="row" layout-align="start start" layout-fill>
        <p>
          School admin is <b>{{registered.schooladmin.name}}</b>
        </p>
      </span>
      </span>
      </md-dialog-content>
      <md-dialog-actions >
        <span layout="row" layout-align="space-between start" layout-fill>
        <!-- hide these -->
      <md-button ng-hide="createdNow" ng-click="closeDialog()">
        CANCEL
      </md-button>
        <md-button type="submit" ng-hide="createdNow" class="md-primary">
          CREATE
        </md-button>
        <!-- end hide -->
        <md-button ng-if="createdNows" ng-click="createAnother()">
          ADD ANOTHER USER
        </md-button>
          <md-button ng-if="createdNows" ng-click="closeDialog()" class="md-primary">
            DONE
          </md-button>
        </span>
      </md-dialog-actions>
    </form>
  </md-dialog>
  